
.root {
    -fx-background-image: url("../../resources/images/space-background.png");
}

.button {
    -fx-background-color: f55625;
}

#btnExit {
    -fx-border-color: f55625;
}

#btnExit:hover {
    -fx-border-color: ffffff;
    -fx-background-color: f55625;
    -fx-text-fill: ffffff;
    -fx-underline: false;
}

#linkSaveAndExit {
    -fx-border-color: f55625;
}

#linkSaveAndExit:hover {
    -fx-border-color: ffffff;
    -fx-background-color: f55625;
    -fx-text-fill: ffffff;
    -fx-underline: false;
}
